@charset "utf-8";

.sevice-menu-area { background-color:#fff;}
.sevice-menu:after { display:block; clear:both; content:"";}
.sevice-menu li { float:left; width:50%; border-bottom:1px solid #dfdfdf;}
.sevice-menu li a.ui-btn { display:block; font-size:15px; text-align:left; padding:8px 15px;}
.sevice-menu li a.ui-btn-active { color:#0b80e0;}
.sevice-menu li img { width:20px; vertical-align:middle; margin-right:10px;}
.sevice-menu li:nth-child(1) a { border-right:1px solid #dfdfdf;}
.sevice-menu li:nth-child(3) a { border-right:1px solid #dfdfdf;}
.sevice-menu li:nth-child(5) a { border-right:1px solid #dfdfdf;}

.sevice-conts { padding:20px 10px 10px;}
.sevice-guide-area { background-color:#e8f0f7; border-radius:3px; color:#858585; font-size:13px; padding:15px 10px; margin-top:10px;}
.sevice-tel-num { background:url("../img/service/icon_tel.png") 0 50% no-repeat; background-size:14px auto; color:#3d3d3d; font-size:14px; font-weight:bold; padding-left:17px; margin-bottom:10px;}
.sevice-tel-num .txt-0b80e0 { color:#0b80e0;}


.btn-sevice-terms { padding-top:10px; text-align:center;}
.btn-sevice-terms ul { overflow:hidden;}
.btn-sevice-terms ul li { float:left; width:33%;}
.btn-sevice-terms ul li:nth-child(1) { width:30%;}
.btn-sevice-terms ul li:nth-child(2) { width:37%;}
.btn-sevice-terms ul li a { display:block; background-color:#fff; border:1px solid #0b80e0; border-radius:3px; color:#0b80e0; font-size:13px; letter-spacing:-1px; padding:8px 0; margin:0 2px;}

.sevice-notice-area { background-color:#fff; border:1px solid #dfdfdf; border-radius:5px; padding:10px; margin-top:10px;}
.sevice-notice-area ul li { color:#565656; font-size:14px; letter-spacing:-1px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-bottom:5px; }

.sevice-faq-area { margin-top:10px;}
.sevice-faq-menu { background-color:#fff; border:1px solid #dfdfdf; border-radius:5px;}
.sevice-faq-menu:after { display:block; clear:both; content:"";}
.sevice-faq-menu li { float:left; width:50%; text-align:center;}			
.sevice-faq-menu li a { display:block; font-size:14px; padding:10px 0;}
.sevice-faq-menu li:nth-child(1) a { border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf;}
.sevice-faq-menu li:nth-child(2) a { border-bottom:1px solid #dfdfdf;}
.sevice-faq-menu li:nth-child(3) a { border-right:1px solid #dfdfdf;}

.faq-search { position:relative; padding-top:10px;}
.faq-search .ui-input-text { margin-right:30px;}
.faq-search .ui-input-text input { height:30px; border:1px solid #c1c1c1; border-right:none; border-radius:3px 0 0 3px; padding:0 10px;}
.btn-faq-search { position:absolute; right:0; top:10px; width:30px; height:30px; background:url("../img/common/icon_search.png") 50% 50% no-repeat; background-size:18px 18px; background-color:#7c7c7c; border-radius:0 3px 3px 0; border:none; color:transparent;}


.help-item-cont02 { display:none;}
			
.help-menu { background-color:#fff; border:1px solid #dfdfdf; border-radius:5px; margin:15px 0;}
.help-menu:after { display:block; clear:both; content:"";}
.help-menu li { float:left; width:50%; font-size:14px; font-weight:bold; text-align:center; box-sizing:border-box; padding:10px 0; cursor:pointer;}
.help-menu li.on { background-color:#a5ca71; color:#fff;}

.help-cont-area { background-color:#fff; border:1px solid #dfdfdf; border-radius:5px; padding:5px 10px;}
.help-cont-area ul li { overflow:hidden; padding:5px 0;}
.help-cont-area .help-qtit { float:left; width:25%; color:#565656; font-size:14px; line-height:30px; letter-spacing:-1px;}
.help-cont-area .help-qtxt { position:relative; float:left ;width:75%; vertical-align:top;}
.help-cont-area .ui-select { width:150px; margin:0;}
.help-cont-area .ui-select select { width:100%;}
.help-cont-area .ui-input-text input { height:30px; border:1px solid #dfdfdf; border-radius:3px; padding:0 10px;}
.help-file-inp .ui-input-text { margin-right:58px;}
.help-cont-area textarea { border:1px solid #dfdfdf; border-radius:3px;}

.btn-help-file { position:absolute; right:0; top:0; width:53px; height:30px; background-color:#a5ca71; border-radius:3px; border:none; color:#fff;}
.btn-help { overflow:hidden; padding:10px 0 0;}
.btn-help li { float:right; width:49%;}
.btn-help li:first-child { float:left;}

.service-tb-area { padding:10px 0;}
.service-tb { background-color:#fff; border:1px solid #dfdfdf; border-radius:5px;}
.service-tb li { overflow:hidden; height:30px; border-top:1px solid #dfdfdf; font-size:13px; line-height:30px; text-align:center; padding:10px 5px; }
.service-tb li:first-child { border-top:none;}
.service-tb li.tb-header { background-color:#9bbdc9; border-radius:5px 5px 0 0; color:#fff; font-size:14px; padding:12px 5px 8px;}
.service-tb li.tb-header label { font-size:14px;}
.service-tb li .fl { float:left; width:30%; }
.service-tb li .fl.tb-txt { width:40%; text-align:left;}
.service-tb li .help-tb-txt { width:70%; text-align:left;}
.service-tb input { float:left; margin:8px 5px 0 0;}
.service-tb label { display:inline-block; width:80%; font-size:13px; line-height:30px;}
.service-tb label div { overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
div.btn-help-del { text-align:left; padding-top:10px;}

.btn-tb-write { text-align:right; margin-bottom:10px;}
.btn-tb-write a { display:inline-block; width:50px; height:30px; background-color:#fff; border:1px solid #cbcbcb; border-radius:3px; text-align:center; line-height:30px;}


.btn-response button { display:inline-block; width:60px; height:30px; border-radius:3px; border:none; color:#fff;}
.btn-finish { background-color:#f26683;}
.btn-standby { background-color:#5db9ee; }



.answer-area { background-color:#fff; border:1px solid #dfdfdf; border-radius:5px; margin:10px 0; padding:10px;}
.answer-line { border:1px dotted #d0cfcf; margin:15px 0;}
.answer-area ul li { color:#3d3d3d; font-size:14px; letter-spacing:-1px;}
.answer-area ul li.answer-date { color:#868686; font-size:13px; padding:3px 0 0 18px;}
.answer-area ul li.answer-txt-box { border:1px solid #cbcbcb; border-radius:5px ;font-size:13px; line-height:1.5em; padding:10px; margin-top:10px;}
.answer-area ul li.user-q-txt { color:#d6d6d6;}
.answer-area ul li span.txt-f26061 { color:#f26061;}

.service-frm-area { background-color:#fff; border:1px solid #dfdfdf; border-radius:5px; padding:10px; margin:10px 0;}
.service-frm-area ul li { overflow:hidden; padding:5px 0;}
.service-frm-tit { float:left; width:15%; color:#565656; font-size:14px; line-height:30px; letter-spacing:-1px;;}
.service-frm-txt { float:left; width:85%;}
.service-frm-txt .ui-input-text input { height:30px; border:1px solid #dfdfdf; border-radius:3px; padding:0 10px;}
.service-frm-txt textarea { border:1px solid #dfdfdf; border-radius:3px;}

.btn-service-frm { overflow:hidden;}
.btn-service-frm li { float:right; width:49%;}
.btn-service-frm li:first-child { float:left;}

.notice-tit { background-color:#fff; font-weight:bold; font-size:15px; border-bottom:1px solid #dfdfdf; padding:10px;}

.notice-cont-area { border-top:2px solid #979797; border-bottom:1px solid #dfdfdf; margin-top:10px;}
.notice-cont-area li { background-color:#fff; padding:10px; font-size:13px; line-height:1.5em;}
.notice-cont-area li.notice-cont-tit { background-color:#bfd8e1; font-size:14px; letter-spacing:-1px;}

.page-nav { margin:20px 0; background-color:#fff; border-top:1px solid #979797; border-bottom:1px solid #979797;}
.page-nav li { border-top:1px solid #979797; font-size:13px;}
.page-nav li div { padding:10px 5px;}

.faq-tit { background-color:#fff; font-weight:bold; font-size:15px; border-bottom:1px solid #dfdfdf; padding:10px;}
.faq-txt { background-color:#fff; }
.faq-txt:first-child { border-top:2px solid #cdcdcd;}
.faq-txt strong { font-size:15px;}
.faq-txt dt { border-bottom:1px solid #cdcdcd; font-size:14px; padding:10px; cursor:pointer; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.faq-txt dd { display:none; background-color:#ededed; border-bottom:1px solid #cdcdcd;  padding:10px;  font-size:13px; line-height:1.5em; letter-spacing:-1px;}
.faq-txt dd .txt-f26061 { color:#f26061;}

.temrs-area { background-color:#fff; border:1px solid #dfdfdf; padding:10px; font-size:13px; line-height:1.5em;} 
.btn-service-terms { margin:10px 0;}