# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Builds
dist/
build/
node_modules/

# PHP/서버 비공개
app/.env
app/admin/.env
docker/certbot/conf/google.json
docker/certbot/conf/**/privkey*.pem
docker/certbot/conf/**/fullchain*.pem

# DB 덤프
*.sql
*.sql.gz

# 로그/캐시
*.log
app/storage/
app/cache/
