@charset "utf-8";

		.mypage-area { color:#3d3d3d; font-size:14px;}
		.mypage-area h2 { position:relative; background-color:#fff; border-bottom:1px solid #d7d7d7; text-indent:10px; padding:12px 0;}
		
		.my-library-view { position:absolute; right:10px; top:8px;}
		.my-library-view li { display:inline-block; width:28px; height:27px; border:1px solid #cbcbcb; border-radius:2px; text-align:center; text-indent:0; vertical-align:top; box-sizing:border-box; cursor:pointer;}
		.my-library-view li.list_board { padding-top:7px; }
		.my-library-view li.list_album { padding-top:5px;}
		.my-library-view li.list_board img, .my-library-view li.list_album img { width:15px; vertical-align:top;}

		.my-library-sel {overflow:hidden; margin-right:10px;}
		.my-library-sel .ui-select { float:right; width:150px;}
		
		.list-album-area { padding:0 10px;}
		.list-album { background-color:#fff; border-top:1px solid #dfdfdf; border-right:1px solid #dfdfdf;}
		.list-album:after { display:block; clear:both; content:"";}
		.list-album li { position:relative; float:left;  width:33.33%; text-align:center; border-left:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; box-sizing:border-box;}
		.list-album li:last-child:after { display:block; clear:both; content:""; position:absolute; right:-1px; top:0; width:1px; height:100%; border-right:1px solid #dfdfdf; margin-left:1px;}
		
		
		.list-line { width:100%; height:1px; border-top:1px solid #dfdfdf; margin-top:-1px;}

		.list-album li .list-album-box { position:relative; max-width:100px; padding:10px 0; margin:0 auto;}		
		.list-album-box a { display:block; color:#565656; font-size:13px; letter-spacing:-1px; }
		.albumlist { position:relative; width:52px; height:78px; background:url("../img/common/book_bg.png") 0 0 no-repeat; background-size:52px 78px; padding:0; margin:0 auto;}
		.albumlist a img { width:52px; height:77px; vertical-align:top; border:1px solid #dbdbdb; box-sizing:border-box;}
		.albumlist-booktit { overflow:hidden; width:80px; height:34px; margin:5px auto 0;}
		

		.book-opc { position:absolute; left:0; top:0; width:3px; height:77px; background-color:#000; opacity:0.08; z-index:10px;}
		.damByeorak { position:absolute; right:1px; top:1px; width:35px; height:15px; background:url("../img/common/damByeorak_bg.png") 0 0 no-repeat; background-size:35px 15px; color:#fff; font-size:9px; font-weight:bold; line-height:17px;}

		.list-board-area { display:none; padding:0 10px;}
		.list-board { background-color:#fff; border:1px solid #dfdfdf; border-radius:5px;}
		.list-board li { overflow:hidden; border-bottom:1px solid #dfdfdf; padding:12px 10px; white-space:nowrap; text-overflow:ellipsis;}
		.list-board li:last-child { border-bottom:none;}

		.library-chk { position:absolute; left:0; top:2px;}

		.my-library-allsel { position:relative; background-color:#393939; border-radius:5px; color:#fff; padding:10px 0; margin:10px;}
		
		.my-library-allsel .ui-checkbox label { display:inline; margin-left:35px;}
		.my-library-allsel .ui-checkbox input { position:absolute; left:10px; top:0;}
		.chk-book-count { position:absolute; right:10px; top:10px }
		.chk-book-count span { color:#7fdeff;}

		.btn-my-library { padding:10px;}
		.btn-my-library:after { display:block; clear:both; content:"";}
		.btn-my-library li {float:left; width:33.3%;}
		.btn-my-library li a { width:auto; font-size:14px; letter-spacing:-1px; margin-right:5px;}
		.btn-my-library li:last-child a { margin-right:0;}

		
		.btn-my-cart { padding:10px;}
		.btn-my-cart:after { display:block; clear:both; content:"";}
		.btn-my-cart li {float:left; width:49%;}
		.btn-my-cart li a { width:auto;}
		.btn-my-cart li:last-child { float:right;}

		
		.sns-popup { padding:25px 0 10px;}
		.sns-popup:after { display:block; clear:both; content:"";}
		.sns-popup li { position:relative; float:left; width:50%; height:70px;} 
		.sns-popup .ui-checkbox{ width:90px; height:100%; margin:0 auto;}
		.sns-popup .ui-checkbox img { width:58px; height:58px; margin:10px 0 0 3px;}
		.sns-popup label { margin-left:20px;}
		.sns-popup input { position:absolute; left:0; top:0;}

		.mypage-cont { padding:15px 10px;}
		
		.history-list { background-color:#fff; border:1px solid #dfdfdf; border-radius:5px;}
		.history-list li { border-top:1px solid #dfdfdf; padding:12px 10px;}
		.history-list li:first-child { border-top:none;}
		.history-list li.no-data { padding:25px 10px;}
		
		.history-list .history { padding-right:100px;}
		.history-date { position:relative; color:#868686;}
		.history-date .history-time { display:inline-block; margin-left:15px;}
		.history-date .history-list-r { color:#f26060; font-weight:bold; }
		.history-txt { position:relative; font-weight:bold; margin-top:15px; }
		.history-list-r { position:absolute; right:0; top:0;}
		.history-list-r.txt-3c9cff { color:#3c9cff;}
		.history-list-r.txt-93c054 { color:#93c054;}

		.history-tit { color:#3a9abc; border-bottom:1px solid #3a9abc; text-align:center; padding-bottom:10px;}
		.history-menu { background-color:#fff; border:1px solid #dfdfdf; border-radius:5px; margin:15px 0;}
		.history-menu:after { display:block; clear:both; content:"";}
		.history-menu li { float:left; width:50%; border-left:1px solid #dfdfdf; box-sizing:border-box; font-size:16px; font-weight:bold; text-align:center; padding:10px 0; cursor:pointer;}
		.history-menu li:first-child { border-left:none;}
		.history-menu li.on { background-color:#a5ca71; color:#fff;}

		.list-item-cont02 { display:none;}

		.sel-tit { margin-top:15px;}
		.sel-month { padding:10px 0; }
		.sel-month:after { display:block; clear:both; content:"";}
		.sel-month .ui-select { float:left; width:100px; margin:0; }
		.sel-month .ui-select .ui-btn select { width:100%;}
		.date { display:block; line-height:2em; margin-left:110px;  }

		.get-view { position:relative; background-color:#393939; border-radius:5px; color:#fff; font-weight:bold; padding:10px;}
		.get-count { position:absolute; right:10px; top:10px;}
		.get-count span { color:#7fdeff;}

		.btn-register { position:relative; height:32px; padding:10px 0; }
		.btn-register a { position:absolute; right:0; width:80px;}

		.get-list { background-color:#fff; border:1px solid #dfdfdf; border-radius:5px;}
		.get-list li.no-data { padding:25px 10px;}
		.get-list .pr { padding-right:100px;}
		.get-list li { position:relative; border-top:1px solid #dfdfdf; padding:12px 10px;}
		.get-list li:first-child { border-top:none;}
		.get-txt { font-weight:bold;}
		.get-date { color:#868686; margin-top:15px; }
		.get-date .txt-a5ca71 { color:#a5ca71;}
		.get-list-r { position:absolute; right:10px; top:25px; font-weight:bold;}
		.get-list-r.use { color:#3c9cff; }
		.get-list-r.expired { color:#868686; }
		.get-list-r.finish { color:#f26060; }	
		
		.num-input-area { background-color:#fff; border:1px solid #dfdfdf; border-radius:5px; font-size:13px; padding:10px; margin:10px;}
		.num-input-txt { font-size:15px;}
		.num-input { position:relative; padding:10px 0;}
		.num-input .ui-input-text { margin-right:85px;}
		.num-input input { border:1px solid #cbcbcb; border-radius:3px; height:32px; padding:0 10px; text-align:center; }
		.btn-num-register { position:absolute; right:0; top:10px; width:80px;}
		
		.num-input-error { color:#f26060;}
		.num-input-ps li { color:#a6a6a6; padding-top:15px;}

		.mypage-menu-area { padding:15px 10px;}
		.mypage-menu:after { display:block; clear:both; content:"";}
		.mypage-menu-area .user-id { font-size:16px; font-weight:bold;}
		.mypage-menu li { float:left; width:50%; margin-top:10px;}
		.mypage-menu-bg { border:1px solid #dfdfdf; border-radius:5px; padding-top:61px}
		.mypage-menu-bg.mypage-menu01 { background:url("../img/mypage/icon_m01.png") 50% 25% no-repeat; background-color:#fff; background-size:auto 37px; margin-right:5px;}
		.mypage-menu-bg.mypage-menu02 { background:url("../img/mypage/icon_m02.png") 50% 25% no-repeat; background-color:#fff; background-size:auto 37px; margin-left:5px;}
		.mypage-menu-bg.mypage-menu03 { background:url("../img/mypage/icon_m03.png") 50% 25% no-repeat; background-color:#fff; background-size:auto 37px; margin-right:5px;}
		.mypage-menu-bg.mypage-menu04 { background:url("../img/mypage/icon_m04.png") 50% 25% no-repeat; background-color:#fff; background-size:auto 37px; margin-left:5px;}
		.mypage-menu-tit { position:relative; background-color:#e8e8e8; font-weight:bold; padding:10px;}
		.mypage-menu-num { position:absolute; right:10px;}
		.btn-charge { margin-top:10px;}
		
		/* cash */
		.keep-cash { position:absolute; right:10px; top:10px;}
		.cash-area { padding:10px;}

		.cash-view-area { background:url("../img/mypage/img_cash_phone_view.png") 0 100% no-repeat; background-size:95px 101px; background-color:#fff; border:1px solid #dfdfdf; border-radius:5px; color:#a6a6a6; font-size:14px; margin-bottom:5px; padding:10px 10px 10px 100px;}
		.cash-view-area strong { display:block; color:#565656; margin-bottom:10px;}

		.cash-cont-area { position:relative; background-color:#fff; border:1px solid #dfdfdf; border-radius:5px; margin-bottom:5px;}
		.cash-cont-area h3 { padding:12px 10px; border-bottom:1px solid #dfdfdf; color:#4596cf; font-size:15px;} 
		.cash-cont { padding:10px;}
		.cash-cont:after { display:block; clear:both; content:"";}

		.bubble-limited { position:absolute; right:10px; top:7px; background:url("../img/mypage/icon_question.png") 3% 50% no-repeat; background-size:13px 13px; background-color:#fff; border:1px solid #cbcbcb; border-radius:3px; color:#747474; font-size:13px; padding:5px 5px 5px 22px;}
							
		.bubble-ars-area { text-align:right; margin:0 10px 10px 0;}
		.bubble-ars { background:url("../img/mypage/icon_question.png") 3% 50% no-repeat; background-size:13px 13px; background-color:#fff; border:1px solid #cbcbcb; border-radius:3px; color:#747474; font-size:13px; padding:5px 5px 5px 22px;}

		.bubble-box { width:150px; background-color:#fff; border:1px solid #ff8587; color:#949494; font-size:12px; line-height:18px; padding:5px;}
		.bubble-box .ui-popup-arrow-container .ui-popup-arrow { background-color:#fff; border:1px solid #ff8587; box-shadow:none;}
		.bubble-box.ui-overlay-shadow { box-shadow:none;}
		.txt-point { color:#565656;}
		.txt-point span { color:#fe7877;}			

		.cash-cont .ui-select { display:inline-block; width:100px; margin:0;}
		.cash-cont .ui-select .ui-btn select { width:100%;}
		.cash-select { float:left; }
		.cash-input { float:right; width:130px;}
		.cash-input .ui-input-text { display:inline-block; width:80%;}
		.cash-input input { height:30px; border:1px solid #dfdfdf; border-radius:3px; text-align:right; padding:0 5px;}

		.pay-type-list:after { display:block; clear:both; content:""; }
		.pay-type-list li { float:left; width:50%; margin-top:8px;}
		.pay-type-list li .ui-btn { display:inline-block;}
		.pay-type-list li label { font-size:13px;}
		.pay-type-list li input { float:left; margin:0 5px 0 0;}

		.pay-type-other .ui-select { display:inline-block; width:110px; margin:0;}
		.pay-type-list li.pay-type-other .ui-btn { display:block;}
	
		.pay-tip li { color:#a6a6a6; font-size:13px; letter-spacing:-1px; margin-bottom:12px; }
		.pay-tip li span { display:inline-block; width:35%; color:#565656;}

		.pay-select-cont { padding:10px; color:#565656; font-size:13px; }


		.pay-frm { padding-top:7px;}
		.pay-frm:after { display:block; clear:both; content:"";}
		.pay-frm dt { float:left; min-width:62px; line-height:30px;}
		.pay-frm dd .ui-input-text { display:inline-block; vertical-align:top; }
		.pay-frm dd .ui-input-text input { width:100%; height:30px; border:1px solid #cbcbcb; border-radius:3px; color:#565656; font-size:13px; text-align:center;}
		.pay-frm dd .ui-select { display:inline-block; margin:0;}
		.pay-frm dd .ui-select select { width:100%; border:1px solid #cbcbcb; border-radius:3px; color:#565656; font-size:13px;}

		.pay-ps { color:#f26060; font-size:12px; padding:7px 0 0 62px;}			
		

		.phone-num-inp .ui-select { width:18%;}
		.phone-num-inp .ui-input-text { width:18%;}

		.pay-email-inp .ui-input-text { width:77%;}
		.pay-email-inp .ui-input-text input { background-color:#f0f0f0;}

		.credit-card .ui-select { width:50%;}
		.credit-card .ui-input-text { width:50%;}

		.account-transfer { padding:40px 0 10px 0;}
		.account-transfer-ps.pay-ps { padding:0 0 10px 0;}

		.pay-frm.bank-account dd.comp { line-height:30px;}
		.pay-frm.bank-account .ui-input-text { width:148px;}
		.pay-frm.bank-account .ui-input-text input { text-align:left; text-indent:10px;}
		.pay-frm.bank-account .ui-select { width:148px;}
		

		.pay-select-other { color:#f26060; font-size:12px; text-align:center; padding:30px 0;}
		

		.pay-term-area li { overflow:hidden; position:relative; font-size:13px; margin-top:10px;}
		.pay-term-area li label { font-size:12px; display:inline-block; vertical-align:middle;}
		.pay-term-area li input { float:left;}
		.pay-term-area li .agree a { color:#868686; font-size:12px; }

		.btn-pay { margin-top:10px;}
		.btn-pay:after { display:block; clear:both; content:"";}
		.btn-pay li { float:right; width:49%;}
		.btn-pay li:first-child { float:left;}
		
		/* buy */
		.buy-area { padding:10px;}
		.buy-list-conts { background-color:#fff; border:1px solid #dfdfdf; border-radius:5px; margin-bottom:10px;}
		.buy-list-conts h3 { border-bottom:1px solid #dfdfdf; color:#4596cf; font-size:15px; padding:12px 10px; }

		.buy-cont { padding:0 10px;}
		.buy-cont li { position:relative; border-top:1px dotted #dfdfdf; color:#565656; font-size:14px; padding:15px 0; padding-right:65px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
		.buy-cont li:first-child { border-top:none;}
		.buy-cont li .buy-price { position:absolute; right:0; top:15px; text-align:right;}

		.buy-price .ui-select { width:130px; margin:3px 0 0;}
		.buy-price .ui-select  select { width:100%;}

		.buy-cont li .mycoupon-list { top:6px;}

		
		.buy-cont li.mypoint { min-height:50px;}
		.buy-cont li .mypoint-txt { color:#a6a6a6;}
		.buy-price-txt { color:#f26060; margin-bottom:5px;}

		.btn-buy:after { display:block; clear:both; content:"";}
		.btn-buy li { float:right; width:49%;}
		.btn-buy li:first-child { float:left;}			
		
		.buy-cont .cash-charge { display:none; color:#f26060; line-height:30px;}
		.buy-cont .point-charge { display:block;}
		.btn-cash-charge { display:inline-block; width:50px; height:30px; background-color:#fa8b31; border:none; border-radius:5px; color:#fff; text-align:center; margin-left:5px;}