/*책전체기본폰트크기*/body {
	font-size : 1em;
	text-align : justify;
	letter-spacing : 0em;
	line-height : 1.5;
	padding : 0;
	margin : 0;
}
/*수정금지*/div {
	font-size : inherit;
	text-align : inherit;
	letter-spacing : inherit;
	line-height : inherit;
		padding : 0;
	margin : 0;
}
/*수정금지*/p {
	font-size : inherit;
	text-align : inherit;
	letter-spacing : inherit;
	line-height : inherit;
		padding : 0;
	margin : 0;
}
/*수정금지*/a {
	font-size : inherit;
	text-align : inherit;
	letter-spacing : inherit;
	line-height : inherit;
	padding : 0;
	margin : 0;
	text-decoration : inherit;
	font-style : inherit;
	color : inherit;
}
/*수정금지*/span {
	font-size : inherit;
	text-align : inherit;
	letter-spacing : inherit;
	line-height : inherit;
		padding : 0;
	margin : 0;
}
/*수정금지*/h1, h2, h3, h4, h5, h6 {
	font-size : 100%;
	letter-spacing : inherit;
	line-height : inherit;
	font-weight : normal;
	font-style : normal;
	padding : 0;
	margin : 0;
}
div.figure-wrap-l img {
	width : 100%;
	height : auto;
	padding : 0;
	margin : 0;
}
div.figure-wrap-l_me1 img {
	width : 100%;
	height : auto;
	padding : 0;
	margin : 0;
}
div.figure-wrap-l_me2 img {
	width : 100%;
	height : auto;
	padding : 0;
	margin : 0;
}
div.figure-wrap-l_me3 img {
	width : 100%;
	height : auto;
	padding : 0;
	margin : 0;
}
div.figure-wrap-r img {
	width : 100%;
	height : auto;
	padding : 0;
	margin : 0;
}
div.figure-wrap-r_me1 img {
	width : 100%;
	height : auto;
	padding : 0;
	margin : 0;
}
div.figure-wrap-r_me2 img {
	width : 100%;
	height : auto;
	padding : 0;
	margin : 0;
}
div.figure-wrap-r_me3 img {
	width : 100%;
	height : auto;
	padding : 0;
	margin : 0;
}
/*이미지-불릿으로-12pt*/span.img-b12 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-12pt*/span.img-b12_me1 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-12pt*/span.img-b12_me2 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-12pt*/span.img-b12_me3 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-14pt*/span.img-b14 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-14pt*/span.img-b14_me1 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-14pt*/span.img-b14_me2 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-14pt*/span.img-b14_me3 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-16pt*/span.img-b16 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-16pt*/span.img-b16_me1 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-16pt*/span.img-b16_me2 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-16pt*/span.img-b16_me3 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-18pt*/span.img-b18 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-18pt*/span.img-b18_me1 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-18pt*/span.img-b18_me2 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-18pt*/span.img-b18_me3 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-20pt*/span.img-b20 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-20pt*/span.img-b20_me1 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-20pt*/span.img-b20_me2 img {
	width : 100%;
	height : auto;
}
/*이미지-불릿으로-20pt*/span.img-b20_me3 img {
	width : 100%;
	height : auto;
}

span.bold {
	font-weight : bold;
}

span.italic {
	font-style : italic;
}

span.underline {
	text-decoration : underline;
}
/* end of default.css */


