@charset "utf-8";

.book-search-area { padding:10px;}
.m-search { background-color:#fff; border:1px solid #dfdfdf; border-radius:3px; margin-top:10px;}
.m-search:after { display:block; clear:both; content:"";}
.m-search li { float:left; width:25%; height:35px; line-height:35px; text-align:center;}
.m-search li a { display:block; border-right:1px solid #dfdfdf; font-size:14px; font-weight:bold;}
.m-search li:nth-child(4) a { border-right:none;}
.m-search li a.ui-btn-active { background-color:#a5ca71; color:#fff;}

.book-search-box { background-color:#fff; border:1px solid #dfdfdf; border-radius:5px;}
.book-search-view { margin:10px 0;}
.book-search-view .ui-collapsible-inset, .book-search-view .ui-collapsible-set { background-color:#fff; border:1px solid #dfdfdf; border-radius:3px;}
.book-search-view .ui-collapsible-inset h1 { position:relative; }
.book-search-view .publisher-tit a { padding:12px 10px; color:#4596cf; font-size:15px;}
.book-search-view .ui-collapsible-content { padding:0;}
.book-search-view .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content { border:none;}
.book-search-view .book-search-name li { padding:12px 10px; border-top:1px solid #dfdfdf; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

.book-search-r { position:absolute; right:10px; top:12px; color:#868686; font-size:14px; }
.book-arrow-down { background:url("../img/common/icon_down.png") 100% 50% no-repeat; background-size:12px auto; padding-right:20px;}
.book-arrow-up { background:url("../img/common/icon_up.png") 100% 50% no-repeat; background-size:12px auto; padding-right:20px;}

.book-search-view .book-author li { padding:12px 10px; border-top:1px solid #dfdfdf;}
.book-author li .book-author-txt { color:#969696; font-size:13px; line-height:1.5em; margin-top:10px;}
.book-author-list { margin-top:10px;}
.book-author-list:after { display:block; clear:both; content:"";}
.book-author-list dl { float:left; width:33.3%; text-align:center;}
.book-author-list dl dt { width:52px; height:78px; background:url("../img/common/book_bg.png") 0 0 no-repeat; background-size:52px 78px; padding:0; margin:0 auto 10px;}
.book-author-list dl dt img { width:52px; height:77px; vertical-align:top; text-align:left;}
.book-author-list dl dd a { display:block; overflow:hidden; width:; height:33px; color:#3d3d3d; font-size:13px; letter-spacing:-1px;}
.book-author-more { text-align:right; margin-top:10px;}
.book-author-more a{ color:#868686; font-size:14px;}


.curating-area li:after { display:block; clear:both; content:"";}
.curating-area li:first-child { border-top:none;}
.curating-area li { padding:5px; border-top:1px solid #dfdfdf;}
.curating-img { float:left; width:102px; height:102px; margin-right:10px;}
.curating-img img { width:102px; height:102px;}

.curating-txt { display:table-cell; vertical-align:middle; height:102px;}
.curating-txt span { display:block; color:#868686; font-size:14px; font-weight:normal; margin-top:5px;}