@charset "utf-8";


/*----------------------- form -----------------------*/
/* join */
.join-area { padding:15px 10px;}
.join-tit { margin-bottom:10px;}
.terms-box { overflow:hidden; position:relative; margin-bottom:15px;}
.terms-box input { float:left;}
.terms-box label { display:inline-block; font-size:13px; line-height:1.5; letter-spacing:-1px; margin-right:5px;}
.terms-box .ui-checkbox { float:left;}
.terms-box .mandatory { color:#57c2ef; font-size:12px; vertical-align:middle;}
.terms-box .terms-more { position:absolute; right:0; top:0;}
.terms-box .terms-more a { color:#868686; font-size:13px;}
.terms-txt { clear:both; overflow:auto; height:130px; background-color:#fff; border:1px solid #dfdfdf; border-radius:3px; padding:10px; margin-top:12px;}
.btn-join-next { margin-top:10px;}
.inp-warn { display:block; color:#f16161; font-size:13px; margin-bottom:5px;}

.inp-box.mt { margin-top:15px;}
.inp-box label { color:#565656; font-size:14px; font-weight:bold; margin-right:10px;}
.inp-box input { width:100%; height:30px; border:1px solid #dfdfdf; border-radius:3px; font-size:13px; padding-left:10px; margin:10px 0 15px;}
.inp-box input.mb { margin-bottom:5px;}
.inp-txt { color:#bababa; font-size:13px;}
.inp-ps { display:block; color:#878686; font-size:13px; margin-bottom:15px;}
.btn-checkID { position:absolute; right:0; top:0; width:63px; height:30px; background-color:#a5ca71; border:none; border-radius:3px; color:#fff; text-align:center;}
.inp-checkID { position:relative;}
.inp-checkID .ui-input-text { margin-right:68px;}
.inp-birth { overflow:hidden;}
.inp-birth li { float:left; width:33.3%;}
.inp-birth li .ui-input-text { margin-left:10px;}
.inp-birth li:nth-child(1) .ui-input-text { margin-left:0;}
.inp-birth li:nth-child(3) { float:right;}
.inp-birth li:nth-child(2) label, .inp-birth li:nth-child(3) label { margin-left:10px;} 

.inp-gender:after { display:block; clear:both; content:"";}
.inp-gender .inp-tit { color:#565656; font-size:15px; font-weight:bold; margin-bottom:15px;}
.inp-gender ul li { position:relative; display:inline-block; margin-right:20px;}
.inp-gender ul li label { padding-left:26px;}
.inp-gender ul li input { position:absolute; left:0; top:0;}

.inp-check { position:relative;}
.inp-check-ok { display:inline-block; position:absolute; right:10px; top:10px; width:12px; height:9px; background:url("../img/common/icon_check.png") 0 0 no-repeat; background-size:12px 9px;}
.inp-check-ok.inp-id-ok { right:78px;}

.inp-authno-msg { position:relative;}
.inp-authno-msg .ui-input-text { margin-right:98px;}
.inp-authno { position:relative;}
.inp-authno .ui-input-text { margin-right:168px;}

.inp-box .ui-select .ui-btn select { width:150px; height:30px; border:1px solid #dfdfdf; border-radius:3px; opacity:1; text-align:center; padding-left:10px; }
.inp-box .ui-select .ui-btn > span { height:30px; text-align:left;}

.btn-checkID { position:absolute; right:0; top:0; width:63px; height:30px; background-color:#a5ca71; border:none; border-radius:3px; color:#fff; text-align:center;}
.btn-authno-msg { position:absolute; right:0; top:29px; width:88px; height:30px; background-color:#a5ca71; border:none; border-radius:3px; color:#fff; text-align:center;}
.btn-authno { position:absolute; right:105px; top:29px; width:58px; height:30px; background-color:#a5ca71; border:none; border-radius:3px; color:#fff; text-align:center;}
.btn-re-authno { position:absolute; right:0; top:29px; width:100px; height:30px; background-color:#c7c7c7; border:none; border-radius:3px; color:#fff; text-align:center;}

.btn-auth { overflow:hidden; margin-top:10px;}
.btn-auth li { float:right; width:49%;}
.btn-auth li:first-child { float:left;}

.join-welCome-area { font-weight:bold; text-align:center; padding:65px 0;}
.join-welCome-area h1 { margin-bottom:40px;}
.join-welCome-area h1 img { width:113px; height:129px;}
.btn-go-home { margin:0 10px;}

/* login */
.login-area { padding:20px 10px; font-size:13px;}
.login-area h2 { text-align:center;}
.login-area h2 img { width:98px; height:112px; margin-bottom:30px;}

.login-area label { font-size:16px; font-weight:bold; margin-right:10px;}
.login-area input { height:30px; border:1px solid #dfdfdf; border-radius:3px; font-size:13px; padding-left:35px; margin:10px 0 15px;}
.login-area input.loginE { background:url("../img/common/icon_user.png") 10px 50% no-repeat; background-color:#fff; background-size:15px auto; border:1px solid #80c6e7;}
.login-area input.loginP { background:url("../img/common/icon_pw.png") 10px 50% no-repeat; background-color:#fff; background-size:13px auto; border:1px solid #cbcbcb;}
.login-error { background:url("../img/common/icon_error.png") 0 50% no-repeat; background-size:11px 11px; color:#f26060; font-size:12px; padding-left:15px;}

.btn-go-join { color:#565656; font-size:14px; font-weight:bold; text-align:center; margin:15px 0 10px;}
.btn-lost { border-bottom:1px solid #c8c8c8; padding-bottom:15px; margin-bottom:10px;}
.btn-lost a { display:inline-block; width:49%; color:#979797; text-align:center;}
.btn-lost a:first-child { border-right:1px solid #c4c4c4; box-sizing:border-box;}
.btn-login-sns { max-width:320px; margin:0 auto;}
.btn-login-sns:after { display:block; clear:both; content:"";}
.btn-login-sns li { float:left; width:33.3%;}
.btn-login-sns li a { font-size:11px; padding-top:3px;}
.btn-login-sns li a.facebook { display:block; width:66px; height:34px; background:url("../img/common/btn_login_facebook.png") 0 0 no-repeat; background-size:97px 34px; padding-left:31px; margin:0 auto;}
.btn-login-sns li a.google { display:block; width:66px; height:34px; background:url("../img/common/btn_login_google.png") 0 0 no-repeat; background-size:97px 34px; padding-left:34px; margin:0 auto;}
.btn-login-sns li a.twitter { display:block; width:66px; height:34px; background:url("../img/common/btn_login_twitter.png") 0 0 no-repeat; background-size:97px 34px; padding-left:34px; margin:0 auto;}

.find-email { font-size:14px; border-bottom:1px solid #c8c8c8; padding-bottom:15px;}
.find-email span { display:block; font-weight:bold; margin:30px 0 15px;}
.btn-find-email { overflow:hidden;}
.btn-find-email li { float:right; width:48%;}
.btn-find-email li:first-child { float:left;}

.user-email { font-size:16px; font-weight:bold; text-align:center;}
.email-txt { display:block; color:#3c9cff; margin:15px 0 35px;}
.find-pw-txt { color:#979797; text-align:center; margin-top:10px;}
.btn-find-pw {color:#3c9cff; }

.service-center-tel { color:#979797; line-height:20px; text-align:center; padding-top:15px;}

/* pw */
.pw-area { padding:20px 10px; font-size:14px;}
.pw-area h2 { text-align:center; margin-bottom:32px;}
.find-pw { border-bottom:1px solid #c8c8c8; padding-bottom:15px;}
.pw-area label { font-size:16px; font-weight:bold; margin-right:10px;}
.pw-area input { height:30px; border:1px solid #dfdfdf; border-radius:3px; font-size:13px; padding-left:10px; margin:10px 0 15px;}
.pw-inp-ps { color:#868686; margin:7px 0 15px;}
.user-pw { text-align:center; font-weight:bold; margin-bottom:35px;}
.user-pw strong { display:block; font-size:16px; margin-bottom:30px;}

/* myinfo */
.myinfo-area { color:#3d3d3d; font-size:14px;}
.myinfo-area h2 { background-color:#fff; border-bottom:1px solid #d7d7d7; text-indent:10px; padding:12px 0;}
.myinfo-modify { padding:0 10px;}
.myinfo-tit { font-size:15px; margin:15px 0 10px;}
.myinfo-tit-txt { display:block; color:#868686; font-size:13px; font-weight:normal; margin-top:8px;}
.myinfo-menu-area ul:after { display:block; clear:both; content:"";}
.myinfo-menu-area ul li { float:left; width:50%; text-align:center; margin:5px 0;}
.myinfo-menu-area ul li a { display:block; border:1px solid #dfdfdf; border-radius:3px; font-size:15px; font-weight:bold; padding:70px 0 8px; box-sizing:border-box;}
.myinfo-menu-area ul li.myinfo-m01 a { background:url("../img/user/icon_m_user01.png") 50% 18px no-repeat; background-color:#fff; background-size:35px 39px; margin-right:5px;}
.myinfo-menu-area ul li.myinfo-m02 a { background:url("../img/user/icon_m_user02.png") 50% 18px no-repeat; background-color:#fff; background-size:35px 39px; margin-left:5px;}
.myinfo-menu-area ul li.myinfo-m03 a { background:url("../img/user/icon_m_user03.png") 50% 18px no-repeat; background-color:#fff; background-size:35px 39px; margin-right:5px;}
.myinfo-menu-area ul li.myinfo-m04 a { background:url("../img/user/icon_m_user04.png") 50% 18px no-repeat; background-color:#fff; background-size:35px 39px; margin-left:5px;}
.myinfo-menu-area ul li.myinfo-m05 a { background:url("../img/user/icon_m_user05.png") 50% 18px no-repeat; background-color:#fff; background-size:35px 39px; margin-right:5px;}

.myinfo-list-area { background-color:#fff; border:1px solid #dfdfdf; border-radius:5px; padding:10px;}
.myinfo-list li { margin-bottom:15px;}
.myinfo-list li:last-child { margin-bottom:0;}
.myinfo-list-tit { display:inline-block; width:18%; font-weight:bold;}

.event-email-chk { margin-top:7px; margin-left:18%;}
.event-email-chk .ui-checkbox:after { display:block; clear:both; content:"";}
.event-email-chk input { float:left;}
.event-email-chk label { display:inline-block; color:#f26060; font-size:12px; vertical-align:middle;} 

.myinfo-list-ps { color:#f26060; font-size:11px; font-weight:normal;}
.myinfo-list-modify .inp-box1 .inp { margin:0 90px 0 65px;}
.myinfo-list-modify .inp-box1 .inp.inp-auth-ok { margin:0 0 0 65px;}
.auth-ok { color:#3b9bff; text-align:right; margin-top:10px;}

.inp-box1 {position:relative; width:100%;}
.inp-box1 .inp-tit { position:absolute; left:0; top:0;}
.inp-box1 .inp { margin:0 58px 0 90px;}
.inp-tit label { color:#565656; font-size:14px; font-weight:bold; line-height:30px;}
.inp-box1 .inp input { height:30px; border:1px solid #dfdfdf; border-radius:3px; font-size:13px; padding-left:10px;}

.inp-box1 .select-birth, .inp-box1 .select-box { margin:0 0 0 65px;}
.inp-box1 .select-birth .ui-select { display:inline-block; width:30%;}
.inp-box1 .select-box .ui-select { display:inline-block; width:50%;}
.inp-box1 .select-tit { top:10px; color:#565656; font-size:14px; font-weight:bold; }
.inp-box1 .ui-select .ui-btn select { width:100%; height:30px; border:1px solid #dfdfdf; border-radius:3px; opacity:1; text-align:center; padding-left:10px; }
.inp-box1 .ui-select .ui-btn > span { height:30px; text-align:left;}

.inp-box1 .select-birth .ui-select { display:inline-block; width:30%;}
.inp-box1 .add-myinfo .ui-select { margin:0;}
.inp-box1 .select-birth .ui-select { display:inline-block; width:30%;}
.inp-box1 .add-myinfo .ui-select select { width:100%;}
.inp-gender .add-myinfo-tit { float:left;}

.myinfo-list-modify .inp-box1, .myinfo-list-modify .inp-gender{ margin-bottom:15px;}
.myinfo-list-modify.pw-list-modify .inp-box1 .inp { margin:0 0 0 120px;}
.profile-area .myinfo-list-modify .inp-box1 .inp{ margin:0 58px 0 80px;}

.btn-tel-auth  { position:absolute; right:0; top:0; width:85px; height:30px; background-color:#a5ca71; border:none; border-radius:3px; color:#fff; text-align:center;}

.btn-myinfo-modify { margin:10px;}
.btn-myinfo-modify:after { display:block; clear:both; content:"";}
.btn-myinfo-modify li { width:49%; float:right;}
.btn-myinfo-modify li:first-child { float:left;}



.user-photo-area { width:150px; height:150px; background:url("../img/common/user_img_bg.png") 0 0 no-repeat; background-size:cover; border:1px solid #cbcbcb; border-radius:50%; margin:15px auto 20px;}
/*.user-photo-img { width:58px; height:58px; background:url("../img/common/user_photo.png") 0 0 no-repeat; background-size:58px 58px; 
border:1px solid #cbcbcb; border-radius:50%; text-align:center; margin:30px auto 0;}*/
.user-photo-img img { width:150px; height:150px; border-radius:50%; }
.inp-box1 .btn-photo { position:absolute; right:0; top:0; width:53px; height:30px; background-color:#a5ca71; border:none; border-radius:3px; color:#fff; text-align:center;}
.textarea-box { position:relative;}
.txt-count { position:absolute; right:5px; font-weight:normal;}
.textarea-box textarea { height:80px; border:1px solid #cbcbcb; border-radius:3px;}



.myinfo-sns { max-width:300px; margin:10px auto;}
.myinfo-sns li { display:inline-block; width:49%; padding-top:57px;}
.myinfo-sns li span { display:block; width:73px; height:30px; background-color:#cacaca; border-radius:5px; color:#fff; font-size:13px; line-height:30px; text-align:center; margin:0 auto; cursor:pointer;}
.myinfo-sns li:nth-child(1) { background:url("../img/user/icon_sns_facebook.png") 50% 0 no-repeat; background-size:42px 42px;}
.myinfo-sns li:nth-child(2) { background:url("../img/user/icon_sns_twitter.png") 50% 0 no-repeat; background-size:42px 42px;}
.myinfo-sns li.sns-on span { background-color:#a5ca71;}

.board-box li { position:relative; width:180px; margin:10px auto;}
.board-box li div.board-tit { position:absolute; left:0; }
.board-num { margin-left:110px; text-align:right;}

.tb-board-list { position:relative; padding-top:45px;}
.board-list-num { position:absolute; right:0; top:0; width:75px;}
.board-list-num .ui-select .ui-btn select { width:100%;}

.tb-board { table-layout:fixed; width:100%; background-color:#fff; border:1px solid #dfdfdf;}
.tb-board thead th { height:38px; background-color:#5d5d5d; color:#fff; text-align:center;}
.tb-board tbody td { height:35px; border-top:1px solid #dfdfdf; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.tb-board thead th.book-tit, .tb-board tbody td.book-tit { text-align:left; text-indent:15px;}
.tb-board tbody td.pointer { cursor:pointer;}

.tb-paging { min-width:180px; text-align:center; margin:10px 0;}
.tb-paging li { display:inline-block;}
.tb-paging li a { display:block; width:20px; height:20px; background-color:#fff; border:1px solid #a8a8a8; 
border-radius:2px; color:#797979; font-size:12px; line-height:20px; font-weight:bold; text-align:center;}
.tb-paging li.paging-on a { color:#3a9cbe;}

/*
.profile-area .add-myinfo-tit {position:absolute; left:0; top:0;}
.profile-area .inp-box .add-myinfo { width:92%; margin:0 53px 0 90px;}
.profile-area .inp-box .add-myinfo .ui-input-text { margin-right:58px;}
.profile-area .btn-photo { position:absolute; right:0; top:0; width:53px; height:30px; background-color:#a5ca71; border:none; border-radius:3px; color:#fff; text-align:center;}
.user-photo-area { width:217px; height:120px; background:url("../img/common/user_img_bg.png") 0 0 no-repeat; background-size:cover; border:1px solid #cbcbcb; margin:15px auto;}
.user-photo-img { width:58px; height:58px; background:url("../img/common/user_photo.png") 0 0 no-repeat; background-size:58px 58px; border:1px solid #cbcbcb; border-radius:50%; text-align:center; margin:30px auto 0;}
.user-photo-img img { width:58px; height:58px; border-radius:50%; }

.myinfo-list-modify .inp-box { position:relative;}
.myinfo-list-modify .inp-box, .myinfo-list-modify .inp-gender{ margin-bottom:15px;}
.myinfo-list-modify .inp-box:last-child { margin-bottom:0;}
.myinfo-list-modify .add-myinfo-tit { display:inline-block; vertical-align:top; width:20%; font-weight:bold; line-height:30px; }
.myinfo-list-modify .inp-box .add-myinfo { display:inline-block; vertical-align:top; width:78% }
.myinfo-list-modify .inp-box .add-myinfo { position:relative;}
.myinfo-list-modify .inp-box .add-myinfo .ui-input-text  { margin-right:90px;}
.myinfo-list-modify .inp-box .user-auth-ok .ui-input-text  { margin-right:0;}
.myinfo-list-modify .inp-box .add-myinfo input { margin:0;}
.myinfo-list-modify .inp-box .add-myinfo .ui-select { margin:0;}
.myinfo-list-modify .inp-box .select-birth .ui-select { display:inline-block; width:30%;}
.myinfo-list-modify .inp-box .add-myinfo .ui-select select { width:100%;}
.inp-gender .add-myinfo-tit { float:left;}
.auth-ok { color:#3b9bff; text-align:right; margin-top:10px;}
.btn-tel-auth  { position:absolute; right:0; top:0; width:85px; height:30px; background-color:#a5ca71; border:none; border-radius:3px; color:#fff; text-align:center;}

.pw-list-modify .add-myinfo-tit { width:40%;}
.pw-list-modify .inp-box .add-myinfo { width:58%}

*/



